<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${review.getName()}">Review</title>

<!-- link href ="review-site.css" rel="stylesheet" type="text/css"-->

</head>
<body>
	<header>
		<h1 th:text="${review.getName()}">Review</h1>
		<!-- Name -->
		<nav>
			<ul>
				<li><a href="/reviews">Review</a></li>
			</ul>
		</nav>
	</header>
	<main>
	
	<img th:src="${review.getImage()}">Image</img>
	
	<h3 th:text="${review.getDescription()}">Description</h3>
	
	<!-- favorite food --> <!--
			This is (imo) the best way to concatenate
			in Thymeleaf
		-->
	<h3 th:text="${review.getRating()}">rating</h3>
	
	<footer>
		<small>&copy; WCCI 2018</small>
	</footer>
	</main>
</body>
</html>